:root {
  --black: #181a20;
  --white: #ffffff;
  --white-secondary: #f4f4f4;
  --black-secondary: #1f1f22;
  --grey: #484b53;
  --grey-secondary: #767a8a;
  --grey-light: #acb0c3;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;

}

a {
  text-decoration: none;
  color: var(--black);
}